/*
**************************
Social Media Footer
**************************
*/

.footer-margin{
  width:1140px;
  margin: 30px auto;
  line-height: 100px;
}

.footer-margin .social-footer{
  color: #686868;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer a{
  font-size:15px;
  color:black;
  padding: 20px;
}

.footer-margin .social-footer a:hover{
  color:#c3c3c3;
}
