.blurb {
	padding-top: 200px;
}

/*h1 {
	font-size: 40px;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
	font-weight: 500;
}

h2 {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.3px;
	font-weight: 700;
	margin-top: 60px;
	display: inline-block;
}

p {
	color: rgba(103,103,103,1);
	line-height: 24px;
	letter-spacing: 0.07px;
	margin-bottom: 25px;
}

*/