@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


/*
**************************
Main Content
**************************
*/
body, html{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  /* text-align:center; */
  height: 100%;
  height: 100vh;
}

p{
  font-size:13px;
  font-weight: 400;
  color:#666;
  padding-top:30px;
  line-height: 29px;
}

h1{
  font-size:32px;
  font-weight: 700; 
  padding-top:50px;
}

a{
  text-decoration:none;
  color:black;
}

a:hover{
  color:#c3c3c3;
}

.content{
  position:relative;
  width:1170px;
  margin:0px auto;
  padding-top:50px;
  overflow:hidden;
}

/*
**************************
Social Media Footer
**************************
*/

.footer-margin{
  width:1140px;
  margin: 30px auto;
  line-height: 100px;
}

.footer-margin .social-footer{
  color: #686868;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer a{
  font-size:15px;
  color:black;
  padding: 20px;
}

.footer-margin .social-footer a:hover{
  color:#c3c3c3;
}